{template '_header'}
<div class="page-content"> 
   <form action="{php echo webUrl('info.video.save')}" method="post" class="form-horizontal form-validate" novalidate="novalidate"> 
    <input type="hidden" name="referer" value="" />
    <input type="hidden" name="id" value="{$data['id']}">
    <div class="tabs-container"> 
     <div class="tabs"> 
      <ul class="nav nav-tabs"> 
       <li class="active"><a data-toggle="tab" href="#tab-basic" aria-expanded="true"> 视频信息</a></li> 
      </ul> 
      <div class="tab-content "> 
       <div id="tab-basic" class="tab-pane active">
        <input type="hidden" class="form-control" name="[mobileverify]" value="1" /> 
        <div class="form-group"> 
         <label class="col-lg control-label">视频名称</label> 
         <div class="col-sm-9 col-xs-12"> 
          <input type="text" class="form-control" name="data[video_name]" value="{$data['video_name']}"/> 
         </div> 
        </div>
        <div class="form-group">
            <label class="col-lg control-label">视频封面</label>
            <div class="col-sm-9 col-xs-12">
                {ife 'music.index' $data}
                  {php echo tpl_form_field_image2('data[thumb]', $data['thumb'])}
                  <span class="help-block">建议尺寸: 100*100，或正方型图片 </span>
                {else}
                  {if !empty($item['thumb'])}
                  <a href='{php echo tomedia($data['thumb'])}' target='_blank'>
                     <img src="{php echo tomedia($data['thumb'])}" style='width:100px;border:1px solid #ccc;padding:1px'  onerror="this.src='../addons/ewei_shopv2/static/images/nopic.png'"/>
                  </a>
                  {/if}
                {/if}
            </div>
        </div>
        <div class="form-group"> 
           <label class="col-lg control-label">视频上传</label> 
           <div class="col-sm-9 col-xs-12">
            {php echo tpl_form_field_video('data[video_url]',$data['video_url']);}
           </div> 
         </div>
        <div class="form-group"> 
         	<label class="col-lg control-label">是否发布</label> 
  	        <div class="col-sm-9 col-xs-12">
    			    <label class="radio-inline">
    			        <input type="radio" name="data[enabled]" value="0" {php echo $data['enabled']=='0' ?"checked":'checked'}>
    			        不发布
    			    </label>
    			    <label class="radio-inline">
    			        <input type="radio" name="data[enabled]" value="1" {php echo $data['enabled']=='1' ?"checked":''}>
    			        发布
    			    </label>
    			    <span class="help-block">
    			        提示：是否发布该条视频
    			    </span>
  			   </div>
        </div>
       </div> 
    <div class="form-group"></div> 
    <div class="form-group"> 
     <label class="col-lg control-label"></label> 
     <div class="col-sm-9 col-xs-12"> 
      <input type="submit" value="提交" class="btn btn-primary" id="music" />
      <input type="button" class="btn btn-default" name="submit" onclick="history.go(-1)" value="返回列表" style="margin-left:10px;" />
     </div> 
    </div> 
   </form> 
  </div>

{template '_footer'}