{template '_header'}

<div class="page-header">
    当前位置：<span class="text-primary">{php echo m('plugin')->getName('info')}</span>
</div>
<div class="page-content">
<div class="row" style="padding: 0;">
    <div class="col-sm-12">
        <div style="border: 1px solid #e7eaec;" class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{php echo m('plugin')->getName('info')} 应用说明</h5>
            </div>
            <div class="ibox-content">
                <p></p>
                <p>“{php echo m('plugin')->getName('info')}”应用是管理手机端后台，用户可在该应用轻松的进行查看用户信息、编辑注册信息项、编辑公司介绍等操作。</p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>
</div>
{template '_footer'}
<!--yi fu yuan ma-->