{template '_header'}
<style type="text/css">
    table th,td{text-align: center;}
  .age{
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    height: 30px;
    text-shadow: 0 0 0;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #efefef;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }
</style>
<div class="page-content"> 
<form action="" method="get"> 
<input type="hidden" name="c" value="site" /> 
<input type="hidden" name="a" value="entry" /> 
<input type="hidden" name="m" value="ewei_shopv2" /> 
<input type="hidden" name="do" value="web" /> 
<input type="hidden" name="r" value="info.index.lists" /> 
<div class="page-toolbar"> 
<!--  <div class="col-sm-6"> 
  <a class="btn btn-primary btn-sm" href="{php echo webUrl('info.index.add')}"><i class="fa fa-plus"></i> 添加歌曲</a> 
 </div>  -->
 <div class="col-sm-6 pull-right">
  <div class="input-group">
    <span class="input-group-addon">
          年龄
      </span>
      <input type="text" name="age1" class="age" name="age1">
      <span class="input-group-addon">
          岁 至 
      </span>
      <input type="text" name="age2" class="age" name="age2">
      <span class="input-group-addon">
          岁
      </span>
   <input type="text" class="input-sm form-control" name="keyword" value="{$keyword}" placeholder="姓名/门店" /> 
   <span class="input-group-btn"> <button class="btn btn-primary" type="submit"> 搜索</button> </span> 
  </div>

 </div> 
</div> 
</form>
{if !empty($info)}
<div class="page-table-header"> 
<input type="checkbox" /> 
<div class="btn-group"> 
 <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch" data-href="{php echo webUrl('info/index/disable',array('status'=>'1'))}" disabled="disabled"> <i class="icow icow-qiyong"></i> 启用 </button> 
 <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch" data-href="{php echo webUrl('info/index/disable',array('status'=>'0'))}" disabled="disabled"> <i class="icow icow-jinyong"></i> 禁用 </button> 
 <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch-remove" data-confirm="确认要删除?" data-href="{php echo webUrl('info/index/delete')}" disabled="disabled"> <i class="icow icow-shanchu1"></i> 删除 </button> 
</div> 
</div> 
<table class="table table-hover table-responsive"> 
<thead> 
  <tr>
      <th style="width:25px;">
      </th>
      <th style="width: 150px;text-align: left;padding-left: 20px">
          头像/昵称
      </th>
      <th style="width: 150px">
          姓名
      </th>
      <th style="width: 150px">
          性别
      </th>
      <th style="width: 150px">
          年龄/出生日期
      </th>
      <th style="width: 150px">
          电话号码
      </th>
      <th style="width: 150px">
          地址/详细地址
      </th>
      <th style="width: 180px;text-align: center;">
          操作
      </th>
  </tr>
</thead> 
<tbody>
{loop $info $k $v} 
      <tr>
            <td style="position: relative; ">
                <input type="checkbox" value="{$v['id']}" />
            </td>
            <td style="overflow: visible;">
                <div rel="pop" style="display: flex;" title="">
                    <img class="img-40" src="{php echo tomedia($v['avatar'])}" style="border-radius:50%;border:1px solid #efefef;" onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'">
                    <span style="display: flex;flex-direction: column;justify-content: center;align-items: flex-start;padding-left: 5px">
                        <span class="nickname">
                            <i class="icow icow-app" style="color: #44abf7;vertical-align: top;">
                            </i>
                            {$v['nickname']}
                        </span>
                    </span>
                </div>
            </td>
            <td>
                {$v['username']}
            </td>
            <td>
                {if empty($v['sex']) || $v['sex']==0}
                  女
                {else if $v['sex']==1}
                  男
                {else if $v['sex']==2}
                  保密
                {/if}
            </td>
            <td>
                <span>
                   {$v['age']}
                   /
                   {php echo date('Y-m-d',$v['birthtime'])}
                </span>
            </td>
            <td>
                <span>
                    {$v['phone']}
                </span>
            </td>
            <td>
                <p>
                   {$v['province']} {$v['city']} {$v['area']}
                </p>
                <p>
                   {$v['addr']}
                </p>
            </td>
            <td style="overflow:visible;text-align: center;">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm btn-op btn-operation"> 
                      <span  class="list-inner" data-toggle='popover' data-html='true' data-placement='top' data-trigger="hover" data-content="<table style='width:100%;'>
                        {if !empty($custom[$v['id']])}
                        {loop $custom[$v['id']] $key $val}
                          
                            <tr>
                                <td  style='border:none;text-align:right;'>{$key}：</td>
                                <td  style='border:none;text-align:right;;'>{$val}</td>
                            </tr>
                          
                        {/loop}
                        {else}
                          无其他信息
                        {/if}
                      </table>
                    "> <i class="icow icow-dingdan2"></i> </span> 
                    </a> 
                    <a class="btn btn-default  btn-sm btn-op btn-operation" data-toggle="ajaxRemove" href="{php echo webUrl('info/index/delete',array('id'=>$v['id']))}" data-confirm="确认删除此信息吗？"> 
                      <span data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"> 
                        <i class="icow icow-shanchu1"></i> 
                      </span> 
                    </a> 
                </div>
            </td>
        </tr>
{/loop}
</tbody> 
<tfoot> 
 <tr> 
  <td><input type="checkbox" /></td> 
  <td colspan="3" > 
   <div class="btn-group" style="float: left;"> 
    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch" data-href="{php echo webUrl('info/index/disable',array('status'=>'1'))}" disabled="disabled"> <i class="icow icow-qiyong" style="float: left;"></i> 启用 </button> 
    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch" data-href="{php echo webUrl('info/index/disable',array('status'=>'0'))}" disabled="disabled"> <i class="icow icow-jinyong"></i> 禁用 </button> 
    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle="batch-remove" data-confirm="确认要删除?" data-href="{php echo webUrl('info/index/delete')}" disabled="disabled"> <i class="icow icow-shanchu1"></i> 删除 </button> 
   </div> </td> 
  <td colspan="4" class="text-right" > 
   <div>
    <ul class="pagination pagination-centered">
     <li><span class="nobg">{$pager}</span></li>
    </ul>
   </div>
  </td> 
 </tr> 
</tfoot> 
</table> 
</div>
{else}
<div class="panel panel-default">
    <div class="panel-body empty-data">未查询到相关信息</div>
</div>
{/if}
{template '_footer'}